.contact-buttons .col {
    height: 65px;
}

.dfsk-icon, .siloam-icon, .seres-icon {
    height: 70px;
}

.dfsk-icon {
    padding: 1rem
}

.siloam-icon {
    padding: .25rem
}

.bg-custom {
    background-color: grey;
}

@media (max-width: 790px) {
    .contact-buttons {
        z-index: 98;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        box-shadow: inset 0px 4px 14px -7px #404040;
        text-align: center;
    }

    .back-to-top {
        right: 15px;
        bottom: 85px;
    }

    .dfsk-icon {
        height: 60px;
    }
    .siloam-icon, .seres-icon {
        height: 40px;
    }

    .type-image {
        width: 100% ;
        height: auto ;
    }
}

@media (min-width: 791px) {
    .contact-buttons {
        display: none;
    }
    .type-image {
        width: 324px;
        height: auto;
    }
}

@media (min-width: 992px) {
    .type-image {
        max-width: 440px;
        width: 100%;
        height: auto;
    }
}

@media (min-width: 1120px) {
    .type-image {
        max-width: 340px;
        width: 100%;
        height: auto;
    }
}

.product-image {
    max-height: 200px !important;
    height: 200px !important;
    width: auto !important;
}

